* {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 50px;
  background-color: rgb(241 245 249);
}

.parent div {
  width: 100px;
  background-color: rgb(203 213 225);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100px;
  padding: 10px;
  text-align: center;
  margin: 30px;
}
